<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>应用时光机</title>
    <link rel="stylesheet" href="components/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="w-header">
        <div class="background"></div>
        <div class="title"><span class="js-title">应用</span>的成长故事</div>
    </div>
    <div class="w-landing">
        <div class="content">
            <div class="title">
                <span class="icons">
                    <img src="images/default.png">
                </span> &middot; 时光机
            </div>
            <div class="desc">了解「<span class="js-title">应用</span>」鲜为人知的成长故事</div>
            <div class="action"><a href="javascript:;">时光机充电中…</a></div>
        </div>
    </div>
    <div class="w-container">
        <div class="w-content">
            <div class="cross"></div>
        </div>
    </div>
    <div class="w-footer">
        <div class="background"></div>
        <div class="logo"></div>
        <div class="related"><a href="/?packageName=com.tencent.mm">微信</a>、<a href="/?packageName=com.duokan.reader">多看阅读</a>、<a href="/?packageName=com.eg.android.AlipayGphone">支付宝钱包</a>、<a href="/?packageName=cn.opda.a.phonoalbumshoushou">百度手机卫士</a>、<a href="/?category=新闻">新闻资讯</a></div>
    </div>

    <script type="text/template" id="a-template-launch">
        <div class="column launch-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">
                    <div class="highlight"><%= title.newData %></div>
                    正式上线
                </div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日', date) %></div>
            </div>
        </div>
        <div class="column launch-data">
            <div class="post">
                <div class="icon"><img src="<%= icon.newData %>"></div>
                <div class="name"><%= title.newData %></div>
                <div class="desc">
                    <p><span class="better"><%= versionName.newData %></span> 版在豌豆荚正式上线</p>
                    <% if (downloadCount.newData > 0) { %>
                    <p>当日下载量：<span class="worse"><%= downloadCount.newData %></span></p>
                    <% } %>
                </div>
            </div>
        </div>
        <% if (screenshots.length > 1) { %>
        <div class="column launch-screenshot portrait">
            <div class="post">
                <div class="screenshot screenshot-alpha" style="background-image: url(<%= screenshots[0] %>)"></div>
                <div class="screenshot screenshot-beta" style="background-image: url(<%= screenshots[1] %>)"></div>
            </div>
        </div>
        <% } %>
    </script>

    <script type="text/template" id="a-template-update">
        <div class="column update-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">
                    <div class="highlight"><%= title.oldData %></div>
                    更新至 <%= versionName.newData %>
                </div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日', date) %></div>
            </div>
        </div>
        <% if (title.changed) { %>
        <div class="column update-name">
            <div class="post">
                <div class="signature"></div>
                <div class="title">改了新名字</div>
                <div class="desc"><%= title.oldData %> → <%= title.newData %></div>
            </div>
        </div>
        <% } %>
        <% if (icon.changed) { %>
        <div class="column update-icon">
            <div class="post">
                <div class="signature"></div>
                <div class="title">换了新图标</div>
                <div class="desc">
                    <img src="<%= icon.oldData %>"> → <img src="<%= icon.newData %>">
                </div>
            </div>
        </div>
        <% } %>
        <% if (changeLog.changed && changeLog.newData) { %>
        <div class="column update-changelog">
            <div class="post">
                <div class="title">更新内容</div>
                <div class="desc">
                    <%= changeLog.newData %>
                </div>
            </div>
        </div>
        <% } %>
        <% if (screenshots.length > 1) { %>
        <div class="column update-screenshot portrait">
            <div class="post">
                <div class="screenshot screenshot-alpha" style="background-image: url(<%= screenshots[0] %>)"></div>
                <div class="screenshot screenshot-beta" style="background-image: url(<%= screenshots[1] %>)"></div>
            </div>
        </div>
        <% } %>
        <% if (avgDownloadEffect > 0.6) { %>
        <div class="column update-effect update-effect-better">
            <div class="post">
                <div class="signature"></div>
                <div class="desc">
                    <p>日均下载量提升了 <span class="better"><%= avgDownload.newData - avgDownload.oldData %></span>，同比增长 <span class="better"><%= parseInt(avgDownloadEffect * 100, 10) %>%</span></p>
                    <p>看来改版不错哟！</p>
                </div>
            </div>
        </div>
        <% } %>
        <% if (avgDownloadEffect < -0.6) { %>
        <div class="column update-effect update-effect-worse">
            <div class="post">
                <div class="signature"></div>
                <div class="desc">
                <p>日均下载量减少了 <span class="worse"><%= avgDownload.oldData - avgDownload.newData %></span>，同比下降 <span class="worse"><%= -(parseInt(avgDownloadEffect * 100, 10)) %>%</span></p>
                    <p>看来改版堪忧呀！</p>
                </div>
            </div>
        </div>
        <% } %>
    </script>

    <script type="text/template" id="a-template-install">
        <div class="column install-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">
                    <div class="highlight"><%= title.newData %></div>
                    <%= downloadMagnitude.newData %>下载达成
                </div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日', date) %></div>
                <div class="desc">
                    <canvas class="install-chart install-chart-<%= date %>" width="600" height="200"></canvas>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="a-template-award">
        <div class="column award-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">
                    <% /*<div class="highlight"><% = title.newData % ></div>*/ %>
                    荣获豌豆荚设计奖
                </div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日', date) %></div>
                <div class="desc">
                    <%= awardContent %>
                    <p><a href="<%= awardUrl %>" target="_default">继续阅读…</a></p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="a-template-summary">
        <div class="column summary-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">直到今天</div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日') %></div>
                <div class="desc">
                    <p><%= finalVersion.title.newData %>，已经上线了 <span class="better"><%= appSummary.duration %></span> 天</p>
                    <% if (finalVersion.size.newData > appMilestoneList[0].size.newData) { %>
                    <p>从原来的 <span class="better"><%= ReadableSize(appMilestoneList[0].size.newData) %></span> 涨到了现在的 <span class="worse"><%= ReadableSize(finalVersion.size.newData) %></span></p>
                    <% } else { %>
                    <p>从原来的 <span class="worse"><%= ReadableSize(appMilestoneList[0].size.newData) %></span> 降到了现在的 <span class="better"><%= ReadableSize(finalVersion.size.newData) %></span></p>
                    <% } %>
                    <p>平均每 <span class="better"><%= appSummary.updateFrequence %></span> 天更新一次</p>
                    <p>历经 <span class="better"><%= appSummary.versionCount %></span> 个版本</p>
                    <% if (appSummary.likeRate > 0.6) { %>
                    <p>好评率 <span class="better"><%= appSummary.likeRate * 100 %>%</span></p>
                    <% } else { %>
                    <p>好评率 <span class="worse"><%= appSummary.likeRate * 100 %>%</span></p>
                    <% } %>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="a-template-category">
        <div class="column category-card">
            <div class="post">
                <div class="title">
                    <div class="highlight"><strong><%= finalVersions.length %></strong> 款</div>应用分类代表
                </div>
                <div class="desc">
                    <p>群众的眼睛是雪亮的，累计 <span class="worse"><%= totalDownload %></span>次下载，无疑让他们成为「<span class="worse"><%= getQueryString('category') %></span>」分类中的应用代表</p>
                    <div class="icon-small">
                        <ul>
                            <% _.each(finalVersions, function (app, index) { %>
                            <li><img src="<%= app.icon.newData %>"><span class="name"><%= app.title.newData %></span></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="a-template-oldest">
        <div class="column category-oldest">
            <div class="post">
                <div class="title">
                    <div class="highlight"><strong><%= parseInt(duration / 12, 10) %></strong>个月</div>资历最老
                </div>
                <div class="desc">
                    <p>自 <span class="worse"><%= FormatDate('yyyy 年 MM 月 dd 日', launchTime) %></span>正式发布以来</p>
                    <p><%= title %> 已经上线了 <span class="worse"><%= duration %></span> 天</p>
                    <p>无疑成为资历最老的应用</p>
                    <div class="icon-small"><img src="<%= icon %>"><span class="name"><%= title %></span></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="a-template-rise">
        <% /*not done*/ %>
        <div class="column category-rise">
            <div class="post">
                <div class="title">
                    <div class="highlight"><strong>17</strong>个月</div>后来者居上
                </div>
                <div class="desc">
                    <p>虽然比 xxx 上线晚了 <span class="worse">xxx</span> 天</p>
                    <p>但 yyy 仅用了 <span class="worse">xxx</span> 个月时间</p>
                    <p>下载量就超过了 xxx</p>
                    <div class="icon-small"><img src="images/default.png"><span class="name">xxx</span></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="a-template-controversial">
        <div class="column category-controversial">
            <div class="post">
                <div class="title">
                    <div class="highlight"><strong><%= controversialApp.badCommentCount %></strong>差评</div>最富争议
                </div>
                <div class="desc">
                    <p>虽然先后荣获了 <span class="worse"><%= controversialApp.badCommentCount %></span> 差评</p>
                    <p>但前赴后继的 <span class="worse"><%= controversialApp.downloadCount %></span> 次下载</p>
                    <p>让 <%= controversialApp.title %> 成为了「<span class="worse">新闻</span>」分类中最富争议的应用</p>
                    <div class="icon-small"><img src="<%= controversialApp.icon %>"><span class="name"><%= controversialApp.title %></span></div>
                </div>
            </div>
        </div>
    </script>

    <script src="components/underscore/underscore.js"></script>
    <script src="components/jquery/jquery.js"></script>
    <script src="components/scroll-converter/scroll-converter.js"></script>
    <script src="components/Chart.js/Chart.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>
