<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>应用时光机</title>
    <link rel="stylesheet" href="components/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="w-header">
        <div class="background"></div>
        <div class="title"><span class="js-title">应用</span>的成长故事</div>
    </div>
    <div class="w-landing">
        <div class="content">
            <div class="title">
                <img src="images/default.png"> &middot; 时光机
            </div>
            <div class="desc">了解「<span class="js-title">应用</span>」鲜为人知的成长故事</div>
            <div class="action"><a href="javascript:;">时光机充电中…</a></div>
        </div>
    </div>
    <div class="w-container">
        <div class="w-content">
            <div class="cross">
                <!-- <div class="column launch-card">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="title">正式上线</div>
                        <div class="date">2013 年 8 月 17 日</div>
                    </div>
                </div>
                <div class="column launch-data">
                    <div class="post">
                        <div class="icon"><img src="http://img.wdjimg.com/mms/icon/v1/3/bd/5295ac6a9c6d51e8285690bdbe1b1bd3_256_256.png"></div>
                        <div class="name">天天酷跑</div>
                        <div class="desc">
                            <p><span class="better">1.0.2</span> 版在豌豆荚正式上线</p>
                            <p>当日下载量：<span class="worse">123</span></p>
                        </div>
                    </div>
                </div>
                <div class="column launch-screenshot portrait">
                    <div class="post">
                        <div class="screenshot screenshot-alpha" style="background-image: url(http://img.wdjimg.com/mms/screenshot/e/01/05e987625129df5ea681e489ee61c01e.jpeg)"></div>
                        <div class="screenshot screenshot-beta" style="background-image: url(http://img.wdjimg.com/mms/screenshot/e/e6/c5e0f590a04195b1eda7a710d941ee6e.jpeg)"></div>
                    </div>
                </div>
                <div class="column update-card">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="title">更新至 2.9.0</div>
                        <div class="date">2013 年 8 月 17 日</div>
                    </div>
                </div>
                <div class="column update-name">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="title">改了新名字</div>
                        <div class="desc">天天酷跑 → 天天跑酷</div>
                    </div>
                </div>
                <div class="column update-icon">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="title">换了新图标</div>
                        <div class="desc">
                            <img src="http://img.wdjimg.com/mms/icon/v1/d/ce/ab3496ad2233f4aed8efcc2ccf7d5ced.png"> → <img src="http://img.wdjimg.com/mms/icon/v1/3/bd/5295ac6a9c6d51e8285690bdbe1b1bd3_256_256.png">
                        </div>
                    </div>
                </div>
                <div class="column update-changelog">
                    <div class="post">
                        <div class="title">更新内容</div>
                        <div class="desc">
                            <ul>
                                <li>全新安卓设计，带给你更轻更快的微信</li>
                                <li>可以在聊天中查看大家的地理位置，还能一起对讲</li>
                                <li>“我的银行卡”中增加多项生活服务</li>
                                <li>长按语音消息，可以转换为文字</li>
                                <li>新增图片墙，帮你快速回顾聊天中的图片</li>
                                <li>发消息时，会为你推荐已下载的表情</li>
                                <li>在群聊中被人@到，会收到提醒</li>
                                <li>新增拍照分享快速入口，可以把照片发送给多个朋友</li>
                                <li>可以给你的朋友添加更多文字描述和图片备</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column update-screenshot landscape">
                    <div class="post">
                        <div class="screenshot screenshot-alpha" style="background-image: url(http://img.wdjimg.com/mms/screenshot/4/4d/0b6cf83707ed5478bc1ab3becca384d4.jpeg)"></div>
                        <div class="screenshot screenshot-beta" style="background-image: url(http://img.wdjimg.com/mms/screenshot/1/86/691a06c16e9763d83ef29aec09008861.jpeg)"></div>
                    </div>
                </div>
                <div class="column update-effect update-effect-better">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="desc">
                            <p>下载量提升了 <span class="better">55%</span>，获得了 <span class="better">47</span> 个好评</p>
                            <p>看来改版不错哟！</p>
                        </div>
                    </div>
                </div>
                <div class="column update-effect update-effect-worse">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="desc">
                            <p>下载量下降了 <span class="worse">55%</span>，获得了 <span class="worse">47</span> 个差评</p>
                            <p>看来改版堪忧呀！</p>
                        </div>
                    </div>
                </div>
                <div class="column install-card">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="title">100 万安装达成</div>
                        <div class="desc">
                            <canvas class="install-chart" width="600" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="column award-card">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="title">荣获豌豆荚设计奖</div>
                        <div class="date">2013 年 9 月 14 日</div>
                        <div class="desc">
                            <p>突然间，电子阅读市场不再是一片无主之地。首先是字节社的探路，豆瓣阅读和多看阅读不出意料地进入这个领域，之后，大家期盼多时的亚马逊 Kindle 进入市场。其实，电子书阅读器早在诺基亚称王的时代就已经有了一些国内开发者，盗版 TXT 电子书的泛滥使得他们有了生存空间。然而做正版电子书，意味着从版权到市场到阅读器等等，一系列产品、运营、市场和商务工作的结合。如今崛起的几个中文阅读应用，其业务远不是开发一款阅读器那么简单。</p>
                            <p>继续阅读…</p>
                        </div>
                    </div>
                </div>
                <div class="column summary-card">
                    <div class="post">
                        <div class="signature"></div>
                        <div class="title">直到今天</div>
                        <div class="date">2013 年 9 月 14 日</div>
                        <div class="desc">
                            <p>天天酷跑，已经上线了 <span class="better">243</span> 天</p>
                            <p>从原来的 <span class="better">12.5M</span> 涨到了现在的 <span class="worse">78.2M</span></p>
                            <p>平均每 <span class="better">24</span> 天更新一次</p>
                            <p>历经 <span class="better">10</span> 个版本</p>
                            <p>共计获得 <span class="better">182</span> 个好评</p>
                            <p>好评率 <span class="better">89%</span></p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="w-footer">
        <div class="background"></div>
        <div class="logo"></div>
        <div class="related">微信、知乎日报、社交网络、新闻资讯</div>
    </div>

    <script type="text/template" id="a-template-launch">
        <div class="column launch-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">正式上线</div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日', date) %></div>
            </div>
        </div>
        <div class="column launch-data">
            <div class="post">
                <div class="icon"><img src="<%= icon.newData %>"></div>
                <div class="name"><%= title.newData %></div>
                <div class="desc">
                    <p><span class="better"><%= versionName.newData %></span> 版在豌豆荚正式上线</p>
                    <% if (downloadCount.newData > 0) { %>
                    <p>当日下载量：<span class="worse"><%= downloadCount.newData %></span></p>
                    <% } %>
                </div>
            </div>
        </div>
        <% if (screenshots.length > 1) { %>
        <div class="column launch-screenshot portrait">
            <div class="post">
                <div class="screenshot screenshot-alpha" style="background-image: url(<%= screenshots[0] %>)"></div>
                <div class="screenshot screenshot-beta" style="background-image: url(<%= screenshots[1] %>)"></div>
            </div>
        </div>
        <% } %>
    </script>

    <script type="text/template" id="a-template-update">
        <div class="column update-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">更新至 <%= versionName.newData %></div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日', date) %></div>
            </div>
        </div>
        <% if (title.changed) { %>
        <div class="column update-name">
            <div class="post">
                <div class="signature"></div>
                <div class="title">改了新名字</div>
                <div class="desc"><%= title.oldData %> → <%= title.newData %></div>
            </div>
        </div>
        <% } %>
        <% if (icon.changed) { %>
        <div class="column update-icon">
            <div class="post">
                <div class="signature"></div>
                <div class="title">换了新图标</div>
                <div class="desc">
                    <img src="<%= icon.oldData %>"> → <img src="<%= icon.newData %>">
                </div>
            </div>
        </div>
        <% } %>
        <% if (changeLog.changed && changeLog.newData) { %>
        <div class="column update-changelog">
            <div class="post">
                <div class="title">更新内容</div>
                <div class="desc">
                    <%= changeLog.newData %>
                </div>
            </div>
        </div>
        <% } %>
        <% if (screenshots.length > 1) { %>
        <div class="column update-screenshot portrait">
            <div class="post">
                <div class="screenshot screenshot-alpha" style="background-image: url(<%= screenshots[0] %>)"></div>
                <div class="screenshot screenshot-beta" style="background-image: url(<%= screenshots[1] %>)"></div>
            </div>
        </div>
        <% } %>
        <% if (0) { %>
        <div class="column update-effect update-effect-better">
            <div class="post">
                <div class="signature"></div>
                <div class="desc">
                    <p>下载量提升了 <span class="better">55%</span>，获得了 <span class="better">47</span> 个好评</p>
                    <p>看来改版不错哟！</p>
                </div>
            </div>
        </div>
        <div class="column update-effect update-effect-worse">
            <div class="post">
                <div class="signature"></div>
                <div class="desc">
                    <p>下载量下降了 <span class="worse">55%</span>，获得了 <span class="worse">47</span> 个差评</p>
                    <p>看来改版堪忧呀！</p>
                </div>
            </div>
        </div>
        <% } %>
    </script>

    <script type="text/template" id="a-template-install">
        <div class="column install-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title"><%= downloadMagnitude.newData %>下载达成</div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日', date) %></div>
                <div class="desc">
                    <canvas class="install-chart install-chart-<%= date %>" width="600" height="200"></canvas>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="a-template-award">
        <div class="column award-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">荣获豌豆荚设计奖</div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日', date) %></div>
                <div class="desc">
                    <%= awardContent %>
                    <p><a href="<%= awardUrl %>" target="_default">继续阅读…</a></p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="a-template-summary">
        <div class="column summary-card">
            <div class="post">
                <div class="signature"></div>
                <div class="title">直到今天</div>
                <div class="date"><%= FormatDate('yyyy 年 MM 月 dd 日') %></div>
                <div class="desc">
                    <p><%= finalVersion.title.newData %> <%= finalVersion.versionName.newData %>，已经上线了 <span class="better"><%= appSummary.duration %></span> 天</p>
                    <% if (finalVersion.size.newData > appMilestoneList[0].size.newData) { %>
                    <p>从原来的 <span class="better"><%= ReadableSize(appMilestoneList[0].size.newData) %></span> 涨到了现在的 <span class="worse"><%= ReadableSize(finalVersion.size.newData) %></span></p>
                    <% } else { %>
                    <p>从原来的 <span class="worse"><%= ReadableSize(appMilestoneList[0].size.newData) %></span> 降到了现在的 <span class="better"><%= ReadableSize(finalVersion.size.newData) %></span></p>
                    <% } %>
                    <p>平均每 <span class="better"><%= appSummary.updateFrequence %></span> 天更新一次</p>
                    <p>历经 <span class="better"><%= appSummary.versionCount %></span> 个版本</p>
                    <% if (appSummary.likeRate > 0.6) { %>
                    <p>好评率 <span class="better"><%= appSummary.likeRate * 100 %>%</span></p>
                    <% } else { %>
                    <p>好评率 <span class="worse"><%= appSummary.likeRate * 100 %>%</span></p>
                    <% } %>
                </div>
            </div>
        </div>
    </script>

    <script src="components/underscore/underscore.js"></script>
    <script src="components/jquery/jquery.js"></script>
    <script src="components/scroll-converter/scroll-converter.js"></script>
    <script src="components/Chart.js/Chart.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>
